@import "settings";
@import "foundation";


	


.contain-to-grid {
	padding: 15px 0px;
	
}
.top-bar {
	.name {
		span {
			font-size: 1.5em;
			border: 1px solid #fff;
			text-transform: uppercase;
			padding: 0.2em 0.5em;
			letter-spacing: 0.05em;
		}
	}
}
// .name {
// 	h1{
// 		font-size: 24px;
// 	}
// 	span {
// 		border: 1px solid #fff;
// 		font-size: 2em;
// 		text-transform: uppercase;
// 		padding: 0.2em 0.5em;
// 		letter-spacing: 0.05em;
// 	}
// }

.jumbo {
	background-image: url(../img/34H.jpg) ;
	background-size: cover;
	padding: 250px 220px;
	// .row {
	// 	border: 8px solid #fff;
	// 	padding: 20px;
	// }
	h1, h3 {
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	h1 {
		font-size: 3em;
		letter-spacing: 0.1em;
		margin-bottom: 2px;
		span {
			display: inline-block;
			border: 10px solid #fff;
			padding: 0.2em 0.5em;
		}
	}
	h3 {
		letter-spacing: 0.05em;
		padding-top: 10px;
		font-size: 1em;
		// text-shadow: px 0px #fff;
	}
}
.bmargin {
	margin-bottom: 120px;
}
.bmargin-top {
	margin-top: 120px;
}
.mmargin {
	margin-bottom: 80px;
}
.mmargin-top {
	margin-top: 80px;
}
.smargin {
	margin-bottom: 40px;
}
.smargin-top {
	margin-top: 40px;
}
.bpadding {
	padding: 100px 0px 50px 0px;
}
.secondary {
	opacity: 0.7
}
.slim {
	font-weight:200;
}
.pol-rel {
	position: relative;
}
.circle {
	border-radius: 50%;
	border: 3px solid #fff;
}
.hoverup{
	opacity:0.6;
	position:relative;
	&:hover {
		top: -15px;
		opacity: 1;
	}
}
.trans {
	-webkit-transition:all 0.7s cubic-bezier(0,.78,.13,.96) ;
	-moz-transition:all 0.7s cubic-bezier(0,.78,.13,.96) ;
	-ms-transition:all 0.7s cubic-bezier(0,.78,.13,.96) ;
	-o-transition:all 0.7s cubic-bezier(0,.78,.13,.96) ; 
	transition:all 0.7s  cubic-bezier(0,.78,.13,.96);
}

.down-arrow {
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #fff;
	position: absolute;
	left: 48%;
}
.item-introtext {
	h5 {
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 100px;
		letter-spacing: 0.07em;
	}
}
.copyright {
	font-size: 80%;
	opacity:0.5;
}
#nav {
	border:1px solid #fff;
	li {
		a {
			text-transform: uppercase;
			opacity: 0.5;
			&:hover {
				opacity: 1;
				color: #fff;
			}
		}
	}
}



#about-content * , #contact-content * {
		color: #fff;
}

#about-content {
	background-color:#444;
	#logo-img {
		padding:80px 100px 50px 0px;
	}
	#profile {

		span {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.05em;
			font-size: 1em;
			
		}
	}
}
#work-content , #contact-content{
	background-color: #444;
	h5 {
		color: #000;
	}

}

 input,textarea{
	padding: 15px !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	background-color: #888;
}

@media only screen and (min-width: 30em) and (max-width: 40em) {
	.top-bar {
		.name {
			span {
				font-size: 1.1em;
				padding: 0.4em 0.5em;
			}
		}
	}
	.jumbo {
	// background-size: cover;
		padding: 100px 50px;
		h1, h3 {
			font-weight: 500;
		}
		h1 {
			font-size: 1.5em;
			letter-spacing: 0.05em;
			span {
				display: inline-block;
				border: 6px solid #fff;
				padding: 0.5em 0.5em;
			}
		}
		h3 {
			letter-spacing: 0.05em;
			padding-top: 10px;
			font-size: 0.7em;
			// text-shadow: px 0px #fff;
		}


	}
	.down-arrow {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid #fff;
		position: absolute;
		left: 46%;
	}
.bmargin {
margin-bottom: 40px;
}
.bmargin-top {
	margin-top: 40px;
}
.mmargin {
	margin-bottom: 20px;
}
.mmargin-top {
	margin-top: 20px;}
.smargin {
	margin-bottom: 10px;
}
.smargin-top {
	margin-top: 10px;
}
.bpadding {
		padding: 50px 0px 20px 0px;
}
	#about-content{
		#logo-img {
			 margin: 40px 20px 20px 50px;
			padding: 20px;
		}
	}
	
	// .toggle-topbar {
	// 	border:1px solid #fff;
	// }
	.top-bar-section {
		// border: 1px solid #fff;
		padding : 20px;
		float: right;
		#nav {
			// border:1px solid #fff;
			border: none;
			li {
				&:hover {
					background-color: red;
				}
			}
		}
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
